## Final Project Submission

Please fill out:
* Student name: Amina Hagi
* Student pace: Full time
* Scheduled project review date/time: 
* Instructor name: Lucille Kaleha, Samuel Karu, Nikita Njoroge and Diana Mongina.
* Blog post URL:

 # Microsoft Movie Studio Project

## Business Understanding
### Microsoft is planning to enter the movie industry and needs insights into successful movie genres to make informed decisions. This analysis aims to identify the most profitable movie genres based on box office performance and IMDb ratings.

## Data Understanding

### We will use data from various sources, including an SQLite database and a CSV file. The main datasets used are:
### - `im.db`: Contains movie basics and ratings data (SQLite database).
### - `bom.movie_gross.csv.gz`: Contains box office gross data (CSV file).

## Data Preparation

### We will load the data, clean it by handling missing values, and merge relevant tables for analysis.

In [23]:
# Import necessary libraries
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('im.db')

In [15]:
# List all tables in the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = conn.execute(query).fetchall()
tables = [table[0] for table in tables]
print(tables)

[]

In [16]:
# Load data from SQLite database (IMDB data)
query = """
    SELECT *
    FROM movie_basics
"""
df_imdb = pd.read_sql_query(query, conn)

DatabaseError: Execution failed on sql '
    SELECT *
    FROM movie_basics
': no such table: movie_basics

In [8]:
# Specify the full file path to the CSV file
csv_file_path = '/home/amina/data-science/Projects/dsc-phase-1-project-v2-4/zippedData/bom.movie_gross.csv.gz'

# Load data from CSV
df_bom = pd.read_csv(csv_file_path)

## Data Cleaning and Preparation

In [7]:
# Drop rows with missing values
df_imdb.dropna(subset=['runtime_minutes', 'genres'], inplace=True)
df_bom.dropna(subset=['domestic_gross'], inplace=True)

NameError: name 'df_imdb' is not defined

In [6]:
# Merge datasets on a common column (e.g., movie title)
df_merged = pd.merge(df_imdb, df_bom, how='inner', left_on='primary_title', right_on='title')
df_merged

NameError: name 'df_imdb' is not defined

## Data Analysis
### Analyze the data to identify the most profitable movie genres by considering average ratings, total domestic gross, and average runtime.

In [4]:
# Calculate average rating by genre
genre_ratings = df_merged.groupby('genres')['rating'].mean().sort_values(ascending=False)
genre_ratings

NameError: name 'df_merged' is not defined

In [3]:
# Calculate total domestic gross by genre
genre_gross = df_merged.groupby('genres')['domestic_gross'].sum().sort_values(ascending=False)
genre_gross

NameError: name 'df_merged' is not defined

In [19]:
# Calculate average runtime by genre
genre_runtime = df_merged.groupby('genres')['runtime_minutes'].mean().sort_values(ascending=False)
genre_runtime

NameError: name 'df_merged' is not defined

## Visualization

### We will use visualizations to present our findings effectively.

In [20]:
# Plot average rating by genre
plt.figure(figsize=(12, 6))
sns.barplot(x=genre_ratings.values, y=genre_ratings.index, palette='viridis')
plt.title('Average Rating by Genre')
plt.xlabel('Average Rating')
plt.ylabel('Genre')
plt.show()

NameError: name 'genre_ratings' is not defined

In [21]:
# Plot total domestic gross by genre
plt.figure(figsize=(12, 6))
sns.barplot(x=genre_gross.values, y=genre_gross.index, palette='plasma')
plt.title('Total Domestic Gross by Genre')
plt.xlabel('Total Domestic Gross (in billions)')
plt.ylabel('Genre')
plt.show()

NameError: name 'genre_gross' is not defined

In [22]:
# Plot average runtime by genre
plt.figure(figsize=(12, 6))
sns.barplot(x=genre_runtime.values, y=genre_runtime.index, palette='magma')
plt.title('Average Runtime by Genre')
plt.xlabel('Average Runtime (minutes)')
plt.ylabel('Genre')
plt.show()

NameError: name 'genre_runtime' is not defined

## Business Recommendations

### Based on our analysis, we can provide the following recommendations to Microsoft's new movie studio:

### 1. Produce movies in genres with the highest average ratings to ensure audience satisfaction and positive reviews.

### 2. Invest in genres with the highest total domestic gross, as they have a track record of generating significant revenue.

### 3. Consider the average runtime when planning movie production. Understanding the preferred runtime for each genre can help in budgeting and scheduling.

In [23]:
# Close the database connection
conn.close()